<header>
  <div class="logga">
    <a routerLink= "/home" routerLinkActive="current"><img [src]  = "logga" class="logo" alt="logga"></a>
  </div>
  <div class="header">
  <img [src] = "header" class = "header" alt="header">
</div>
<div class="headerMobile">
  <img [src] = "headerMobile" class = "headerMobile" alt="header">
</div>
<div class="nav">
  <nav>
    <ul>
      <li><a routerLink= "/home" routerLinkActive="current">Startsida</a></li>
      <li><a routerLink= "/courses" routerLinkActive="current">Kurser</a></li>
      <li><a routerLink= "/frameschedule" routerLinkActive="current">Ramschema</a></li>
    </ul>
  </nav>
  </div>
</header>