
  #filter {
    max-width: 500px;
    height: 40px;
    width: 100vw; 
    margin:  0  0 20px 20px;
}
.courseCodeHeader, .courseCodeCell,
.courseNameHeader, .courseNameCell,
.progressionHeader, .progressionCell,
.subjectHeader, .subjectCell,
.pointsHeader, .pointsCell,
.syllabusHeader, .syllabusCell {
  display: table-cell;

}
  @media (max-width: 600px) {
    .courseCodeHeader, .courseCodeCell,
    .progressionHeader, .progressionCell,
    .subjectHeader, .subjectCell,
    .syllabusHeader, .syllabusCell {
      display: none;
    }
   
}
  button:hover {
    background-color: #93CCBE;
  }

