<div class="box1">
    <img [src] = "campus" class = "campus" alt="header">
  </div>
<h1>Välkommen till Ditt Universitet!</h1>
<div class="box2">  <a href="" class="puff"><img [src] = "students" class = "small" alt="glada studenter">Ny student? <br> Här hittar du nödvändig information inför skolstart.</a></div>
<div class="box3"> <a href="" class="puff"><img [src] = "gym" class = "small" alt="två killar som stretchar">Nyhet <br> Nytt utegym direkt i anslutning till cmapus.</a></div>
<div class="box4"> <a href="" class="puff"><img [src] = "books" class = "small" alt="böcker">Biblioteket <br> Din bästa vän som student, här kan du få hjälp med mer än att hitta böcker.</a></div>
