<div class="box1">
    <img [src]="campus" class="campus" alt="header">
  </div>
  <h1>Välkommen till Ditt Universitet!</h1>
  <div class="boxes">
  <div class="box2">
    <a href="" class="puff">
      <img [src]="students" class="small" alt="glada studenter">
      <span>Ny student? <br> Här hittar du nödvändig information inför skolstart.</span>
    </a>
  </div>
  <div class="box3">
    <a href="" class="puff">
      <img [src]="gym" class="small" alt="två killar som stretchar">
      <span>Nyhet <br> Nytt utegym direkt i anslutning till campus.</span>
    </a>
  </div>
  <div class="box4">
    <a href="" class="puff">
      <img [src]="books" class="small" alt="böcker">
      <span>Biblioteket <br> Din bästa vän som student, här kan du få hjälp med mer än att bara hitta böcker.</span>
    </a>
  </div>
  </div>
  <div class = "text">
  <p>Här på Ditt Universitet finns det 4328 olika kurser att läsa. Under kurser kan du söka kurser på kursnamn eller kurskod eller välja ett ämne som intresserar dig i filtreringsfunktionen och få se alla kurser som finns tillgängliga i det valda ämnet. I kurslistan kan du spara kurser som sedan presenteras i ramschemat. I ramschemat kan du se totalt antal högskolepoäng som dom sparadekurserna får tillsammans. Utöver det kan du självklart också ta bort kurser från listan ifall du ångrat ditt val.</p></div>