.campus {
    width: 100%;
	height: auto;
}

h1 {
  font-size: 42px;
    font-weight: 500;
    color:  black;
    text-shadow: #93CCBE;
}
.small {
    width: 70%;
  
}
.box1, .box2, .box3, .box4 {
    margin-bottom: 20px; /* Marginal mellan boxarna */
  }
  
  /* Styla bilderna */
  .box1 img, .box2 img, .box3 img, .box4 img {
    display: block;
    margin: 0 auto; 
  }
  
  /* Styla länkarna */
  .puff {
    display: inline-block; /* Gör länken block för att kunna centrera texten under bilden */
    text-decoration: none; /* Ta bort understrykningen */
    color: inherit; 
  }
  
  .puff span {
    display: block; /* texten block för att hamna under bilden */
    margin-top: 10px; 
  }
  .boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Centrera boxarna horisontellt */
  }
  
  .box2, .box3, .box4 {
    flex: 1 1 30%; /* Flex boxar tar upp 30% av bredden */
    box-sizing: border-box; /* Inkludera padding och border i boxens totala bredd */
    margin: 10px;
  }
  
  /* Mobil  */
  @media (max-width: 600px) {
    .boxes {
      flex-direction: column; /* boxarna i en kolumn */
    }
    .box2, .box3, .box4 {
      flex: 1 1 100%; /* Boxarna tar upp hela bredden */
      margin: 0;
      margin-bottom: 20px; 
    }
  }
a:link {
	color: #000000;
	text-decoration: none;
   
	}
	a:visited {
	color: #000;
	text-decoration: none;
	}
	a:hover {
	color: #93CCBE;
	}

    